{{#each this}}
<li>
<div class='section__card'>
  <h2 class='card__title'>{{name}}</h2>
  <div class='card__wrapper__content'>
    <div class='card__wrapper__text'>
      <h4 class='card__text'> <span class="card__subtitle">Capital:</span> {{capital}}</h4>
      <p class='card__text'><span class="card__subtitle">Population:</span> {{population}}</p>
      <h4 class="card__text"><span class="card__subtitle">Languages:</span></h4>
              <ul class='list__language'>
          {{#each languages}}
            <li class="card__text"><p>{{name}}</p></li>
          {{/each}}
        </ul>
    </div>
      <img class='card__img' src='{{flag}}' alt='{{name}}' />
  </div>
</div>
</li>
{{/each}}